*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #262626;

}

li{
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
 
#nav-branding {
    font-size: 2rem;
    font-style: italic;
}

.nav-link, .nav-link-loc{
    transition: 0.7s ease;
}

.nav-link:hover, .nav-link-loc:hover {
    color: dodgerblue;
}

.hamburger {
    display: none;
    cursor: pointer ;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


@media(max-width: 768px){
    .nav-link, .nav-link-loc {
        font-size: 20px;
        font-weight: 500;
    }

    header {
        width: 100vw;
        position: fixed;
        z-index: 4;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);

    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: rgba(0, 0 , 0, 0.8);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }


    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0px;
    }

    .locations {

        display: none;

    }

    .locations.active {
        display: block;
        gap: 0;
        width: 100%;
        text-align: center;
    }

    .loc-item {
        margin: 16px 0;
    }

    .locations.hover {
        color: red;
    }

     #section1 {
        background: url("image2.jpg");
        background-repeat: no-repeat;
        height: 300px;
        width: 100vw;
        transition: 2s ease-out;
        background-size: cover;
        position: relative;
        top: 70px;
        z-index: 2;
    }

    .writing {
        transform: translate(0%,100%);
    }

    .color-orange {
        color: red;
    }

    #title1 {
        margin: auto;
        text-align: center;
        font-weight: 530;
        font-size: 15px;
        margin-bottom: 10px;
        color: black;
    }

    .left {
        animation: animate 2s;
    }

    @keyframes animate {
        from{transform: translateX(-100%);}
        to{transform: translateX(0%);}
    }

    .title2 {
        margin: auto;
        text-align: center;
        width: 300px;
        margin-bottom: 10px;
        color: black;
    }

    .top {
        animation: animatetop 2s;
    }

    @keyframes animatetop {
        from{transform: translateY(-100%);}
        to{transform: translateY(0%);}
    }

    .button1 {
        width: 100px;
        margin: auto;
        text-align: center;
        border-radius: 10px;
        background: none;
        border: 1px solid red;
    }

    .right {
        animation: animateright 2s;
    }

    @keyframes animateright {
        from{transform: translateX(100%);}
        to{transform: translateX(0%);}
    }

    .join-us {
        font-size: 10px;
        color: black;
        font-weight: 400;
        padding: 5px;
    } 

    /* section2 */
    #section2 {
        background: url("image1.jpg");
        background-repeat: no-repeat;
        height: 600px;
        width: 100vw;
        background-size: cover;
        position: relative;
        top: 70px;
        z-index: 3;
    }

    .writing1 {
        color: white;
        font-size: 50px;
        float: right;
        width: 200px;
        margin-top: 50px;
    }

    b {
        margin-left: 50px;
    }

    /* section3  */
    #section3 {
        display: flex;
        flex-direction: column;
        margin-top: 70px;
        background: rgba(0, 0 , 0, 0.4);
    }

    .sec {
        position: relative;
        margin-bottom: 20px;
        margin: auto;
        z-index: 3;
    }

    .circle {
        height: 15px;
        width: 15px;
        border-radius: 7.5px;
        background: red;
        float: left;
        margin-right: 10px;
        margin-top: 5px;
    }

    .text {
        margin-top: 20px;
        text-align: left;
    }

    .heading {
        color: black;
        font-weight: 500;
        font-size: 25px;
        margin-bottom: 10px;
    }

    .paragraph {
        color: black;
        width: 300px;
        margin-left: 23px;
    }

    /* move-up button*/
    #move {
        text-align: center;
        color: red;
        border: 1px solid red;
        width: 30px;
        position: fixed;
        z-index: 1;
        transform: rotate(-90deg);
        top: 500px;

    }

    .arrow {
        color: red;
    }

    /* section4 */
    #features {
        margin: 70px 10px 70px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #slideimage-head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .slide-head {
        font-weight: 500;
        font-size: 25px;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }

    #prev, #next {
        color: white;
        background: red;
    }

    #image-slide {
        height: 250px;
        width: 100%;
        
    }

    #image-slide.hover {
        opacity: 0.7;
    }

    .image-text {
        background: rgba(0, 0 , 0, 0.4);
        height: 30px;
    }
}

.locations {
    display: none;
}


/* #section1 {
    background: url("image2.jpg");
    background-repeat: no-repeat;
    height: 500px;
    width: 100vw;
    transition: 2s ease-out;
    background-size: contain;
    
} */

/* #section3 {
    position: relative;
    background: red;
} */
