* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bai Jamjuree";

}

@font-face {
    font-family: "Bai Jamjuree";
    src: url("https://fonts.google.com/specimen/Bai+Jamjuree");
}

body {
    background: url("bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: hsl(210, 10%, 33%);
    margin-top: 30px;
}

.width {
    margin: auto;
    width: 80%;
    margin-top: 50px;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head1 {
    font-weight: 700;
    font-size: 40px;
    margin-top: 20px;
}

.text {
    margin-top: 20px;
    width: 500px;
    text-align: center;
}

.D-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ios, .android {
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: inset 0px -5px ;
    color: white;
}

.ios {
    background: hsl(171, 66%, 44%);
    margin-right: 20px;
    padding: 20px 30px 20px 30px;
}

.android {
    padding: 20px;
    background: hsl(233, 100%, 69%);
}

.head2 {
    font-weight: 700;
    font-size: 30px;
    margin-top: 70px;
}

.text1 {
    margin-top: 20px;
    width: 550px;
    text-align: center;
}

.laptop-sec {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    position: relative;
    left: -50px;
}

.computer-text {
    display: flex;
    flex-direction: column;
    margin: 80px 0px 0px 70px;
}

.title {
    font-weight: 700;
    font-size: 20px;
}

.computer-text div {
    margin-bottom: 60px;
}

.computer-text div p:nth-child(2){
    width: 200px;
}

.devices {
    margin: 30px 0px 40px 0px;
}

.workflow-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0px 50px 0px;
}

.workflow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    margin-bottom: 20px;
}

.text2 {
    margin-top: 20px;
    width: 300px;
    text-align: center;
}

#icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

footer {
    background: rgba(173, 216, 230, 0.3);
}

.content-sec {
    width: 90%;
    margin: auto;
}


.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.f-text, .f-icon {
    display: flex;
    flex-direction: column;
    margin: 30px 0px 30px 0px;

}

.f-text p:nth-child(1){
    margin-bottom: 15px;
}

.social {
    margin: 30px 0px 30px 10px;

}

@media (max-width:768px){
    .laptop-sec {
        flex-direction: column;
        left: 0px;
        align-items: center;
    }

    .head1 {
        font-size: 30px;
        text-align: center;
    }

    .head2 {
        font-size: 20px;
        text-align: center;
    }

    .workflow-row, .D-links {
        flex-direction: column;
     
    }

    .ios {
        margin-right: 0px;
    }

    .text {
        width: 300px;
    }

    .text1 {
        width: 350px;
    }

    .computer, .devices  {
        width: 300px;
    }

    .computer-text{
        margin-left: 0px;
    }

    .title {
        font-size: 18px;
        text-align: center;
    }

    .computer-text div p:nth-child(2){
        text-align: center;
    }

    .workflow-row {
        margin-top: 30px;
    }

    .workflow {
        margin-top: 20px;
    }

    footer {
        margin-top: 20px;
    }

    .content, #icons {
        flex-direction: column;
        align-items: center;
    }

    .f-icon {
        height: 50px;
        width: 50px;
    }

    .f-text{
        align-items: center;
        font-size: 18px;
        margin-top: 0px;
    }
    
    .icon-logo {
        margin-bottom: 30px;
    }



}