@font-face {
    font-family: Outfit;
    src: url("https://fonts.google.com/specimen/Outfit");
}


body {
    background-color: hsl(217, 54%, 11%);
    width: 1440px;
    overflow: hidden;
    font-size: 18px;
    font-family: Outfit;
}


.card {
    height: 600px;
    width: 375px;
    color: white;
    transform: translate(510.5px, 30px);
    border-radius: 20px;
    background-color: hsl(216, 50%, 16%);
    filter: drop-shadow(10px 15px 5px rgba(0, 1, 51, 0.3))
    drop-shadow(-10px -15px 5px rgba(0, 1, 51, 0.3))
    drop-shadow(10px 25px 5px rgba(0, 1, 51, 0.1))
    drop-shadow(-10px -25px 5px rgba(0, 1, 51, 0.1));

}


.hove {
    width: 345px;
    height: 250px;
    border-radius: 10px;
    background-color: aqua;
    transform: translate(15px,15px) translate(0px, -255px);
    opacity: 0.5;
}

.hove:hover {
    background-image: url("../nft-preview-card-component-main/images/image-equilibrium.jpg");
}



.iconview {
    transform: translate(152.5px, 100px);

}

.image {
    width: 345px;
    height: 250px;
    border-radius: 10px;
    transform: translate(15px,15px);
}


.image:hover {
    background-image: url("../nft-preview-card-component-main/images/icon-view.svg");
}

.writings {
    width: 355px;
    position: relative;
    left: 15px;
    transform: translate(0, -230px);
}

.bold {
    font-weight: 600;
    margin-bottom: 10px;
}

.bold:hover {
    color: aqua;
    cursor: pointer;
}

.ethereum-img {
    float: left;
    margin-right: 10px;
}

.inline {
    display: inline;
}

.color {
    font-weight: 300;
    color: aqua;
}

.time {
    transform: translate(245px,-40px);
    color: hsl(215, 51%, 70%);

}

.line {
    color: hsl(215, 32%, 27%);
    width: 335px;
    position: relative;
    bottom: 30px;
}

.profile {
    float: left;
    margin-right: 20px;
    position: relative;
    bottom: 30px;
}


.profilewriting {
    color: hsl(215, 51%, 70%);

}

.name {
    color: white;
}

.name:hover {
    color: aqua;
    cursor: pointer;
}

@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport {
    width: extend-to-zoom;
    zoom: 1.0;
}

