@media all{
    body {width: auto;
    overflow-x: hidden;
    }
}


header {
    height: 300px;
    width: 100%;
    background-image: url("./pictures/pexels-pixabay-256490.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.label {
    font-family: montserrat;
    font-weight: 600;
    font-size: 50px;
    color: red;
    float: left;
}

.links {
    float: right;
    margin-right: 20px;
    display: flex;
    list-style: none;
}

.a {
    box-sizing: border-box;
    padding: 10px;
    text-decoration: none;
    color: red;
    font-size: 20px;
}

.a:hover {
    font-size: 25px;

}

.searchbar {
    position: relative;
    top: 150px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: right;
    color: black;
}

.submit {
    padding: 10px 30px 10px 30px;
    background-color: red;
    opacity: 60%;
    color: white;
}

.submit:hover {
    opacity: 1;
}

.bar {
    padding: 10px 30px 10px 30px;
}

.checkbtn {
    font-size: 30px;
    color: red;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;

}

@media(max-width: 952px){
    .label {
        font-size: 30px;
        padding-left: 50px;
    }

    .a {
        font-size: 16px;
        color: white;


    }

    video {
        position: relative ;
        z-index: 2;
    }

    ul {
        position: relative;
        z-index: 3;
    }
}

@media(max-width: 858px) {
    .checkbtn{
        display: block;
    }

    ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 200px;
        height: 100vh;
        background-color: red;
        top: 0;
        right: -270px;
        text-align: center;
        transition: all 5s;
    }

    nav ul li {
        display: block;
        margin: 20px 50px 20px 0;
        line-height: 30px;
    }

    nav ul li .a {
        font-size: 20px;

    }

    .a:hover, .fa-xmark:hover {
        font-size: 25px;
    }

    #check:checked ~ ul{
        left: 450px;

    }

    .fa-xmark, .fa-bars {
        color: white;
    }

}

.border {
    width: 50%;
    margin: auto;
    text-align: center;
    position: relative;
    top: -50px;
    margin-bottom: 30px;
}

.bold {
    border: 1px solid red;
    background-color: red;
    color: white;
    font-weight: 700;
    font-size: 35px;
    box-shadow: -5px -5px  white, 5px -5px  white;

}

.section1 {
    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

.center {
    text-align: center;
    padding: 30px;
    margin-right: 20px;
}

.bold1 {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 700;
    font-size: 30px;
}

.border1 {
    background-color: red;
    color: white;
    border-radius: 20px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.font {
    font-size: 20px;
}

.border1:hover {
    box-shadow: -5px -5px 10px red, 5px -5px 10px red;
    cursor: pointer;
}

@media(max-width: 952px) {
    .section1 {
        display: block;
    }
}

.color {
    background-color: lightgray;
    margin-bottom: 30px;
    width: 100%;
}

.section2 {
    display: flex;
    justify-content: space-evenly;
}

@media(max-width:952px){
    .section2 {
        flex-direction: column;
    }

}

.first-image {
    background-image: url("./pictures/pexels-kampus-production-5940713.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin: 10px;
}

.second-image {
    background-image: url("./pictures/pexels-rfstudio-3059654.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin: 10px;
}

.third-image {
    background-image: url("./pictures/pexels-august-de-richelieu-4427430.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin: 10px;
}

.top-text {
    text-align: center;
    color: red;
    margin-top: 20px;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 400px;
}

.animate {
    display: block;
}

.list {
    height: 26px;
    overflow: hidden;
    position: static;
    background: none;
}


.each {
    list-style: none;
    font-size: 20px;
    margin-right: 20px;
    border: 1px solid red;
    background-color: red;
    color: white;
    text-align: center;
    position: relative;
    top: 0px;
    animation: slide 10s steps(5) infinite;

}

@keyframes slide {
    100% {top: -128px;

    }

}

.section3 {
    display: flex;
}

@media(max-width:952px) {
    .section3 {
        flex-direction: column;
    }

    .section3 {
        text-align: center;
    }

    .list {
        width: 400px;
        margin: auto;
    }

    .phone-image {
        width: 100%;
        text-align: center;
    }
}


video {
    height: 400px;
    width: 400px;
}

.writing {
    background: red;
    margin-bottom: 30px;
    height: 400px;
}

.bold2 {
    color: white;
    font-weight: 700;
    font-size: 40px;
}

.para1{
    color: white;
    font-size: 20px;
    margin-bottom: 90px;
}

.margin {
    margin: 30px 70px 30px 20px;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 20px;

}

.border2 {
    border:1px solid white;
    width: 300px;
    text-align: center;
}

.border2:hover {
    background: black;
}

.section4 {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.bold3 {
    color: red;
    font-weight: 500;
    font-size: 40px;
}

.para2{
    color: black;
    font-size: 20px;
    margin-left: 300px;
    margin-right: 50px;
}

.link2 {
    color: red;
    font-size: 20px;
    text-decoration: underline;
}

.link2:hover {
    font-size: 25px;
}

@media(max-width:952px) {
    .para2 {
        margin-left: 0px;
    }

    video {
        width: 100%;
    }

}

.bold3 {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 700;
    font-size: 35px;
}

.para3 {
    font-size: 20px;
}

.section5 {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

}

.subsection {
    display: flex;
}

.story {
    display: flex;
    flex-direction: column;
}

.picture {
    width: 400px;
    height: 300px;
    margin-right: 5px;
}

@media(max-width:952px){
    .subsection {
        flex-direction: column;
    }

    .story {
        margin-bottom: 20px;
    }

    .picture {
        width: 100%;
    }
}

.section6 {
    background-color: rgba(0, 0, 0, 0.7);
    height: 1200px;
    width: 100%;
}

.culture {
    float: right;
    position: relative;
    top: -30px;
    width: 600px;
    height: 800px;
    z-index: 2;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    width: 800px;
    display: flex;
    margin-left: 150px;
    margin-top: 165px;
    position: absolute;
    z-index: 3;
}

.row2 {
    display: flex;
    margin-left: 150px;
    margin-top: 120px;
    position: relative;
    z-index: 4;
    top: 305px;
}

.row3 {
    display: flex;
    margin-left: 150px;
    margin-top: 120px;
    position: relative;
    z-index: 4;
    top: 180px;
}


.explore {
    height: 260px;
    width: 300px;
    background-color: blue;
    position: absolute;
    left: 0px;
    z-index: 3;
}

.text {
    width: 300px;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;
}

.text2 {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}

.lion {
    margin-left: 300px;
}

.small-margin {
    margin-left: 310px;
    position: absolute;
    z-index: 2;
    color: white;
}

.small-margin2 {
    margin-left: 10px;
    position: absolute;
    z-index: 2;
    color: black;
    top: -0px;
}

.small-margin3 {
    margin-left: 10px;
    position: absolute;
    z-index: 2;
    color: red;
    top: -0px;
}

.small-margin4-large {
    margin-left: 10px;
    position: absolute;
    z-index: 2;
    color: red;
    left: 1070px;
    margin-top: 50px;
    width: 700px;
}

.line-width {
    width: 250px;
}

.link4picture1 {
    background-color: rgba(255, 255, 255, 0.2);
    width: 300px;
    height: 260px;
    position: absolute;
    left: 300px;
    z-index: 3;
}

.linkpicture:hover{
    opacity: 0.7;
}

.link4picture5a {
    background-color: none;
    height: 800px;
    width: 600px;
    position: absolute;
    left: 740px;
    margin-top: -30px;
    z-index: 3;
}

 .link4picture1:hover,  .link4picture5:hover, .link4picture5a:hover {
    background-color: rgba(255, 255, 0, 0.3);
}

.dots {
    display: none;
}

.phone-culture {
    visibility: hidden;
}

.text-decoration-large {
    margin-bottom: 100px;
    width: 150px;
    border: 1px solid purple;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    background-color: rgba(128, 0, 128, 6);
    position: relative;
    left: -300px;
}

.text-culture-large {
    width: 500px;
    border: 1px solid purple;
    font-weight: 700;
    font-size: 35px;
    color: white;
    background-color: rgba(128, 0, 128, 6);
    position: relative;
    left: -300px;

}

.text-para {
    width: 350px;
    border: 1px solid purple;
    font-size: 25px;
    font-weight: 500;
    color: white;
    background-color: rgba(128, 0, 128, 6);
    position: relative;
    left: -300px;
}


@media(max-width:952px){
    .row {
        margin-top: -25px;
       
    }

    .row2 {
        margin-top: -70px;
    }

    .small-margin4-large {
        display: none;
    }

    .small-margin4 {
        margin-left: 10px;
        position: absolute;
        z-index: 2;
        color: red;
        top: 20px;
        width: 400px;
    }

    .link4picture5a {
        display: none;
    }

    .link4picture5 {
        background-color: none;
        height: 600px;
        width: 500px;
        position: absolute;
        left: 0px;
        margin-top: -30px;
        z-index: 3;
    }

    .overflow {
        margin-left: 0px;
        margin-top: 120px;
        position: absolute;
        height: 1100px;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .section6 {
        overflow: hidden;
    }

    .culture {
        display: none;
    }

    .phone-culture {
        visibility: visible;
        position: relative;
        left: 0px;
    }

    .text-decoration {
        width: 200px;
        border: 1px solid purple;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
        color: white;
        background-color: rgba(128, 0, 128, 6);
    }

    .text-culture {
        width: 300px;
        border: 1px solid purple;
        font-weight: 700;
        font-size: 35px;
        color: white;
        background-color: rgba(128, 0, 128, 6);
    
    }

    .text-para {
        left: 0px;
    }

    .dots {
        display: flex;
        float: right;
        margin-right: 20px;
        margin-top: 30px ;
        position: relative;
        z-index: 3;
    }

    .dot1 {
        margin-right: 5px;
        height: 30px;
        width: 30px;
        margin-right: 10px;
        border-radius: 15px;
        background-color: gray;
        animation: colorchange 5s infinite;

    }

    @keyframes colorchange {
        100% {
            background-color: white;
        }
    }

    .dot2 {
        height: 30px;
        width: 30px;
        border-radius: 15px;
        background-color: white;
        animation: colorchange2 5s infinite;

    }

    @keyframes colorchange2 {
        100% {
            background-color: gray;
        }
    }
    
}

footer {
    width: 100%;
    background-color: black;
}

@media (max-width:952px){
    .section7 {
        display: flex ;
        flex-direction: column;
    }

    .foot-para {
        display: flex;
        flex-direction: column;
    }

    .icons {
        display: flex;
        flex-direction: column;
    }

    .margin-right {
        display: none;
    }

    .contact-info {
        margin-bottom: 20px;
    }
}

.section7 {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.icons {
    display: flex;
    width: 90%;
    margin: auto;
    line-height: 10px;
}

.instagram:hover {
    opacity: 0.5;
}

.insta-text {
    position: absolute;
    margin-left: 10px ;
    color: white;
    font-weight: 600;
    font-size: 20px;
    margin-top: -50px;
    z-index: 3;
}

.top {
    margin-top: 90px;
}

.helpful {
    font-size: 15px;
    text-transform: uppercase;
    color: blue;
}

.foot-para {
    display: flex;
}

.number1 {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.footer-links {
    text-decoration: none;
    margin-bottom: 30px;
    font-size: 20px;
    color: white;
    width: 180px;
}

.contact-info {
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin-top: 25px;
    margin-right: 40px;
}

.UoD {
    margin-right: 100px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.footer-links:hover {
    opacity: 0.5;
}

.margin-right {
    margin-right: 20px;
}